
/* INFO GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.marginauto {
    width: 80%;
    margin: auto;
    /* debug */
    /* background-color: rebeccapurple; */
}

/* HEADER SETTINGS */

header {
    margin-top: 50px;
}

header>div {
    /* debug */
    /* background-color: pink; */
    /* height: 150px; */
}

nav>div {
    padding-top: 15px;
    /* debug */
    /* background-color: aliceblue; */
}

.logoimg {
    height: 70px;
}

nav li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.mainnav {
    text-decoration: none;
    color: rgb(173, 173, 173);

}

/* MAIN SETTINGS */

section {
    margin-top: 50px;
}

/* SECTION1 */

#container2 {
    height: 500px;
    background-color: black;
}

.visualcontent {
    background-image: url(img/banner.jpg);
    height: 100%;
    background-repeat: no-repeat;
}


/* SECTION2 */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    /* debug */
    background-color: skyblue;
    width: 100%;
}

.container>div {
    float: left;
    border: 10px solid blue;
    margin-top: 100px;
    /* debug */
    height: 550px;
}

#uno {
    /* debug */
    width: 20%;
}

#due {
    /* debug */
    width: 60%;
}

#tre {
    /* debug */
    width: 20%;
}

/* FOOTER */

footer>div {
    margin-top: 25px;
    margin-bottom: 50px;
    /* debug */
    background-color: blueviolet;
    height: 75px;
}